<div class="modal fade" id="modal-add-foto-banner">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header ">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title font-dark-gray">Adicionar Foto</h4>
      </div>
      <div class="modal-body"  style="height:450px;overflow-y:auto;">
        <div class="row">
          <div ng-repeat="foto in fotos">
            <div class="col-md-6 ">
            <div style="padding:5px;" ng-class="foto.selecionada" ng-click="selecionarImagem(foto)">
              <img ng-src="../{{foto.thumb}}" style="width:200px; height:120px; margin:auto;"/>
            </div>
            </div>
          </div>
        </div> 
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
        <button type="button" class="btn btn-primary" ng-disabled="!fotoSelecionada.isSelecionada" ng-click="salvarImagem(fotoSelecionada)"  data-dismiss="modal">Salvar Imagem</button>
      </div>
    </div>
  </div>
</div>