<div class="content our-gallery">
    <div class="page-header" style="padding:20px 30px;" >
        <div class="col-md-4">
            <h2 class="page-title">
                <a ng-href="#/categoria/{{categoria}}" style="color:#fff">
                    <span class="fa fa-arrow-circle-left"></span>
                    Voltar
                </a>
            </h2>

        </div>
        <div class="col-md-8">
            <h2 class="page-title">Album - {{nome}}</h2>
            
        </div>
        <div style="clear:both"></div>
    </div>
    <div class="content-inner">
        <div class="row">
            <div ng-repeat="item in albumItem">
                <div class="col-md-4 col-sm-6">
                    <div class="gallery-item">
                        <div class="gallery-thumb embed-responsive embed-responsive-16by9">
                            <img ng-src="{{item.thumb}}" alt="">
                            <a class="overlay-g" a href="{{item.src}}" data-rel="lightbox">
                                <i href="{{item.src}}" data-rel="lightbox" class="fa fa-expand"></i>
                            </a>
                        </div>
                    </div>
                </div> 
            </div>
        </div> 
    </div> 
</div> 