
                       

                        <div id="menu-5" class="content">
                            <div class="page-header">
                                <h2 class="page-title">Contato</h2>
                            </div> <!-- /.page-header -->
                            <div class="content-inner">
                                <div class="row">
                                    <div class="col-md-8">
                                        <h3 class="widget-title">Envie uma Mensagem</h3>
                                        <p>Preencha os dados abaixo para entrar em contato conosco.</p>
                                        <div class="row contact-form">
                                            <div class="col-md-4">
                                                <label for="name-id">Seu Nome:</label>
                                                <input name="name-id" type="text" id="name-id" maxlength="40">
                                            </div>
                                            <div class="col-md-4">
                                                <label for="email-id">E-mail:</label>
                                                <input name="email-id" type="text" id="email-id" maxlength="40">
                                            </div>
                                            <div class="col-md-4">
                                                <label for="subject-id">Título:</label>
                                                <input name="subject-id" type="text" id="subject-id" maxlength="60">
                                            </div>
                                        </div> <!-- /.contact-form -->
                                        <p class="full-row">
                                            <label for="message">Menssagem:</label>
                                            <textarea name="message" id="message" rows="6"></textarea>
                                        </p>
                                        <input class="mainBtn" type="submit" name="" value="Enviar Mensagem">
                                    </div> <!-- /.col-md-8 -->
                                    <div class="col-md-4">
                                        <div class="information">
                                            <h3 class="widget-title">Contatos</h3>
                                            <ul class="our-location">
                                                <li><span><i class="fa fa-map-marker"></i>Telefone:</span>(51) 91772205/ 81427040</li>
                                                <li><span><i class="fa fa-map-marker"></i>Telefone:</span>(51) 81427040</li>
                                                <li><span><i class="fa fa-map-marker"></i>Email:</span><a href="contato@cristianocardoso.com.br">contato@cristianocardoso.com.br</a></li>
                                            </ul>
                                        </div> <!-- /.information -->
                                       
                                    </div> <!-- /.col-md-4 -->
                                </div> <!-- /.row -->
                            </div> <!-- /.content-inner -->

                        </div> <!-- /.stay-in-touch -->