<div class="site-footer">
    <div class="row">
        <div class="col-md-6">
            <p class="copyright-text">Copyright &copy; 2016 Cristiano Cardoso Fotográfia - Desenvolvido por: <a href="http://aektecnologia.com.br/" style="color:#69AD80;">AeK Tecnologia</a></p>
        </div>
        <div class="col-md-6">
            <div class="social-icons-footer">
                <ul>
                    <li><a target="_parent" href="https://www.facebook.com/cristianocardoso.photo" class="fa fa-facebook" data-toggle="tooltip" data-original-title="Acesse nosso Facebook"></a></li>
                    <li><a href="https://www.facebook.com/cristianocardoso.fotografia" class="fa fa-instagram" data-toggle="tooltip" data-original-title="Acesse nosso Instagram"></a></li>
                </ul>
            </div>
        </div>
    </div>
</div> <!-- /.site-footer -->