<div class="col-md-2 visible-md visible-lg">
    <div class="main_menu">
        <ul class="menu">
            <li><a class="show-1" href="./" data-toggle="tooltip" data-original-title="Página Inicial"><i class="fa fa-home"></i></a></li>
            <!--<li><a class="show-2" href="#/sobre" data-toggle="tooltip" data-original-title="Sobre"><i class="fa fa-user"></i></a></li>-->
            <li><a class="show-3" href="#/galeria" data-toggle="tooltip" data-original-title="Galeria"><i class="fa fa-camera-retro"></i></a></li>
            <li><a class="show-5" href="#/contato" data-toggle="tooltip" data-original-title="Contato"><i class="fa fa-phone"></i></a></li>
        </ul>
    </div>
</div>
