<div class="responsive-navigation visible-sm visible-xs">
    <a href="#" class="menu-toggle-btn">
        <i class="fa fa-bars fa-2x"></i>
    </a>
    <div class="responsive_menu">
        <ul class="main_menu">
            <li><a class="show-1 homebutton" href="./"><i class="fa fa-home"></i>Página Inicial</a></li>
            <!--<li><a class="show-2" href="#/sobre"><i class="fa fa-group"></i>Sobre</a></li>-->
            <li><a class="show-3" href="#/galeria"><i class="fa fa-camera-retro"></i>Galeria</a></li> 
            <li><a class="show-5" href="#/contato"><i class="fa fa-globe"></i>Contato</a></li>
        </ul>
    </div>
</div>
<script>loadResponsive();</script>